.avatar {
  position: relative;

  b {
    position: absolute;
    font-size: 28px;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
  }
}

.block {
  margin: 100px auto;
  text-align: center;

  p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

.whiteBlock {
  width: 460px;
}

.twitterLogo {
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(12deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
