.block {
  margin: 100px auto;
  text-align: center;
}

.whiteBlock {
  width: 460px;
}

.input {
  position: relative;
  img {
    position: absolute;
    top: 20px;
    left: 53px;
  }

  input {
    width: 265px;
    padding-left: 55px;
  }
}

.policyText {
  font-size: 14px !important;
  line-height: 22px !important;
  text-align: center;
  color: #817f7a;
  margin-bottom: 0;
}
